<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>TraitementRegister</servlet-name>
        <servlet-class>controleurs.TraitementRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementLogin</servlet-name>
        <servlet-class>controleurs.TraitementLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementLogout</servlet-name>
        <servlet-class>controleurs.TraitementLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementProfile</servlet-name>
        <servlet-class>controleurs.TraitementProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementChangePassword</servlet-name>
        <servlet-class>controleurs.TraitementChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementAdmin</servlet-name>
        <servlet-class>controleurs.TraitementAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementIndex</servlet-name>
        <servlet-class>controleurs.TraitementIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TraitementIndex</servlet-name>
        <url-pattern>/TraitementIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementAdmin</servlet-name>
        <url-pattern>/TraitementAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementRegister</servlet-name>
        <url-pattern>/TraitementRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementLogout</servlet-name>
        <url-pattern>/TraitementLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementLogin</servlet-name>
        <url-pattern>/TraitementLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementProfile</servlet-name>
        <url-pattern>/TraitementProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementChangePassword</servlet-name>
        <url-pattern>/TraitementChangePassword</url-pattern>
    </servlet-mapping>
</web-app>